.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 6rem; */
  min-height: 100vh;
}

.header{
  /* height: 80px; */
  width: 90%;
  background-color:#FFFFFF17;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  align-self: flex-end;
}

.logoWrapper{
  display: flex;
  flex-direction: row;
}

.rightSide{
  width: 70%;
}

.headerNavLinks{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  margin-top: 20px;
  color:#FFFFFF;
}

.myListStyle li{
  text-decoration: none;
  list-style: none;
  margin-top: 5px;
  color:#FFFFFFCC;
}















/* Inner Square */


